* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #011f5d;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.25rem;
  /* margin-bottom: 20px; */
}

p {
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

#pEndAllJokes {
  font-size: 1.25rem;
}

section {
  min-height: 70vh;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  /* background-color: #e10179; */
  /* color: black; */
  background-color: #fedb27;
  color: white;
  text-align: center;
  padding: 30px;
  /* margin-bottom: 40px; */
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  /* h1 {
    margin-bottom: 0;
  } */
}

#headerLogo {
  width: 200px;
  height: auto;
  margin-bottom: 0;
  img {
    width: 100%;
  }
}

#welcomePicRight {
  width: 250px;
  height: auto;
  margin-bottom: 0;
  img {
    width: 100%;
  }
}

#welcomePicLeft {
  width: 280px;
  height: auto;
  margin-bottom: 0;
  padding: 20px;
  img {
    width: 100%;
  }
}

#mission {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #e10179;

  div {
    gap: 0px;
    margin-bottom: 0;
  }

  h1 {
    color: white;
  }

  span {
    color: #fedb27;
  }

  h2 {
    color: white;
  }

  p {
    align-self: flex-start;
    font-weight: lighter;
    color: white;
  }
}

#randomJoke,
#lotteryJoke,
#addJoke,
#allJokes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-bottom: 3px dashed #e10179;
  /* border-spacing: 6px; */
  padding: 40px;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /* margin-bottom: 40px; */
  }
  .joke-img {
    width: 250px;
    height: auto;
    padding: 20px;
    img {
      width: 100%;
    }
  }
}

#allJokes {
  border: none;
}

button {
  background-color: #fedb27;
  color: #e10179;
  padding: 20px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  /* margin-bottom: 20px; */
}

button:hover {
  background-color: #fedb27;
  color: #e10179;
  transform: scale(1.1); /* + grand de 10% */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input {
  padding: 10px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

footer {
  width: 100%;
  background-color: #e10179;
  color: white;
  text-align: center;
  padding: 40px;
}

footer {
  font-size: 1rem;
  p {
    color: white;
    margin-bottom: 0;
  }
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#randomJokeContent,
#lotteryJokeContent {
  display: none;
}

.jokeContent {
  background-color: #38ace3;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 20px;
  border: none;
  border-radius: 5px;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  padding: 20px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}

@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  #welcomePicLeft {
    display: none;
  }

  #welcomePicRight {
    width: 50%;
  }

  #mission {
    flex-direction: column;
    align-items: center;
    h1 {
      margin-top: 30px;
    }
  }

  #missionText {
    text-align: center;
    padding: 10px;
  }

  #randomJoke,
  #lotteryJoke,
  #addJoke,
  #allJokes {
    flex-direction: column;
    gap: 30px;
  }

  .joke-img {
    width: 200px;
  }

  input {
    width: 90%;
  }

  button {
    width: 90%;
    padding: 15px;
  }

  #allJokes{
    .joke-img {
      display: none;
    }
  }

  footer {
    padding: 10px;
  }
}