* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1rem;
  margin-bottom: 10px;
}

section {
  min-height: 70vh;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: #e10179;
  color: white;
  text-align: center;
  padding: 40px;
  margin-bottom: 40px;
}

#mission h2 {
  color: #e10179;
}

div {
  margin-bottom: 40px;
  text-align: center;
}

button {
  background-color: #e10179;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

button:hover {
  background-color: #fedb27;
  color: black;
}

input {
  padding: 10px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

footer {
  width: 100%;
  background-color: #e10179;
  color: white;
  text-align: center;
  padding: 40px;
}

footer p {
  font-size: 1rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}